<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3"><ion-img src="/assets/testAvatar.png" ></ion-img></ion-col>
      <ion-grid>
        <ion-row>
          {{cognitoService.userName}}
        </ion-row>
        <ion-row>
          <font color="gray">CPF: {{cpf}}</font>
        </ion-row>
        <ion-row>
          <ion-icon name="star"></ion-icon><font color="gray">4.98</font>
        </ion-row>
      </ion-grid>
      
    </ion-row>
    <ion-row>
      <ion-col>        
        Avenida Jaguaré, 325<br> 
        Bloco 4, Apartamento 91<br>      
        São Paulo, SP<br>
        05346-000 <br>
        <ion-icon name="create"></ion-icon>
      </ion-col>           
    </ion-row>     
    <ion-row>
      <ion-list>
        <ion-item>
          <b>Serviços que eu presto:</b><ion-icon name="create"></ion-icon>
        </ion-item>    
        <ion-item *ngFor="let d of subserviceDetails; let i = index">      
          <ion-label>{{d.caption}}</ion-label>          
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>

</ion-content>
