.padding {
    padding: 1px !important;
    margin: 0px !important;
}

.services-button {    
    font-family: 'Helvetica Light';
    //font-weight: 200;
    font-size: 0.7em;
    line-height: 1.5;
}

.fullwidth {
    width:100%;     
}

.redBackground {
    --background: #ff0000;
}