<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bem vinda ao 4Her. Juntas somos mais fortes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/back_welcomecard.jpg"></ion-img>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales luctus turpis, quis venenatis urna semper sed. Nunc gravida rutrum massa, ac blandit eros vulputate nec. Quisque ac scelerisque turpis. Ut convallis massa eget elementum ultrices. Maecenas tempus nulla nec felis suscipit, vitae efficitur mi fringilla. Donec a egestas dolor. Duis suscipit sed quam id luctus. Morbi risus libero, varius eget lobortis a, scelerisque ut libero.
    </p>
    <p>
    Maecenas euismod lacus turpis. Curabitur aliquam ex non diam gravida lacinia. Sed fermentum lectus sed interdum tincidunt. Integer enim ipsum, ultrices a finibus a, molestie quis odio. Nulla congue ligula laoreet, lobortis dui ut, elementum leo. In placerat eros in sem commodo tempus. Aliquam ultricies blandit lectus non imperdiet. Praesent ac tortor felis. Vestibulum semper velit nec finibus pharetra. Proin vehicula sagittis eros et tempus. Suspendisse venenatis nisi in ex varius venenatis. Duis aliquet, velit faucibus suscipit venenatis, metus turpis malesuada felis, a feugiat dui orci vitae urna. Integer sagittis ex eget interdum tempor.
    </p>
    <p>
    Nulla sit amet scelerisque ante. Aenean et vulputate urna. Proin rhoncus, metus vel blandit fermentum, ex elit facilisis sem, eu dapibus purus nunc sit amet nisl. Nam ac venenatis purus. Proin id sem quis arcu feugiat molestie quis vel orci. Nullam porttitor elementum finibus. Praesent sollicitudin mauris sit amet pretium scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris tempus eros vitae augue sagittis, in bibendum odio luctus. Cras ac ipsum tellus. Fusce vel sapien efficitur, iaculis leo eu, convallis arcu.
    </p>
</ion-content>
